*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
.money{
  padding: 10px;
  max-width: 600px;
  margin: 15px;
  margin-left: 10%;
  display: inline-block;
	border-radius: 10px;
 
 
  
}
.money1{
  width: 100%;
 

	border-radius: 10px;
 
  border: solid 5px #cccbce;
  
}

.butpomoc{
  color: #fff;
  background-color: #7700bb;
  width: 70px;
  padding: 10px;
  font-size: 20px;
  min-width: 80px;
  border: none; 
  outline: none;
  border-radius:10px ;
  margin-top: 10px;
  margin-left: 20%;

}
.butvisit{
  background-color: #7700bb;
  width: 120px;
  padding: 10px;
  min-width: 80px;
  border: none; 
  outline: none;
  border-radius:10px ;
  margin-top: 10px;
  margin-left: 20%;

}
.minmoney{
	background-color: #cccbce;
  
	border-radius: 0px 0px 5px 5px;
	width: 100%;
}
.pomimg{
	width: 13%;
  min-width: 50px;
  margin-left:75%;

  margin-top: -84px;
}

.pomimg2{
  width: 30%;

  

  margin-top: 40px;
  margin-left:70%;;
}
.buta{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
#zatemnenie {
background: rgba(102, 102, 102, 0.2);
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
display: none;
}
#okno {
width: 350px;
height: 100px;
text-align: center;
padding: 15px;
border-radius: 10px;
position: absolute;
top: 0;
right: 0;
bottom: 80%;
left: 0;
margin: auto;
background: rgb(222, 212, 243);
font-size: 20px;
}
#zatemnenie:target {display: block;}
.close {

border: 1px solid #bdadc4;
background-color: #f4e6ff;
border-radius: 5px;
float: right;
padding: 0 12px;
margin: 10px;
text-decoration: none;

font-size: 18px;
cursor:pointer;
}
.close:hover {background: #e6e6ff;}


 
input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 2px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
 
  height: 13px;
  
  box-shadow: 1px 1px 3px #000000;
  background: #BDADC4;
  border-radius: 17px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #000031;
  border: solid 1px #dfdde6;
    height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #615399;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
 
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000;
  background: #BDADC4;
  border-radius: 17px;
 
}
 
 
 


input[type="text"]{

	width: 80px;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #220745;
	font-size: 30px;
}

input[type="month"]{

	max-width: 200px;
  width: 40%;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #220745;
	font-size: 20px;


}
#i1{
  width: 70px;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #22074500;
  font-size: 30px;
}
.inmon{
  margin-left: 40%;
  width: 60%;
  max-width: 100px;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #220745;
	font-size: 30px;
}

.numcard{
  margin-left: 5%;

}
.carddate{
  margin-left: 5%;

}

.kodcard{
  margin-left: 5%;

}

.ncard{
  margin-right:10px ;
}
.m{
  font-size: 20px;
  margin-left:-5%;
  color: rgb(80, 78, 78);
  margin-bottom: -15px;
  margin-top: -10px;
}
.m1{
  margin-top: -10px;
  font-size: 20px;
  margin-left:23%;
  color: rgb(80, 78, 78);
  margin-bottom: -15px;
}

.m2{
  font-size: 20px;
  margin-left:-5%;
  color: rgb(80, 78, 78);
  margin-bottom: -15px;

}

.visit2{
  width: 70%;
  margin-left: 50% ;
  margin-top: -45%;

}

#name1{
  margin-left: 5%;
  width: 60%;
}

#tel{
  margin-left: 5%;
  width: 60%;
}

#email{
  margin-left: 5%;
  width: 60%;
}


#kontakt{
  font-size: 17px;
  margin-top: -100px;
  color: rgb(80, 78, 78);
  margin-bottom: -90px;
  margin-left: 3%;
}

.time{
	font-family: 'Roboto Mono', monospace;
  color: rgb(255, 255, 255);
  font-size: 16px;
  width:200px;


}

.time1{
	background-color: #bdadc4;
  width: 45%;
  margin-left: 20px;
  margin-top: 10%;
  margin-bottom: 10px;
  border-radius: 20px ;


}



.visit{
  display: inline-block;
  
 padding: 10px;
  min-width: 650px;
  margin: 15px;
  margin-left: 5%;
  display: inline-block;
	border-radius: 10px;

  
 
	width: 30%;

 



}
.visit1{
 
   
   
 
 
 
	border-radius: 10px;
 
  background-color:  #cccbce;
 
  padding: 10px;
  min-width: 650px;
  margin: 15px;
  display: inline-block;
	border-radius: 10px;

}
.textpomoc{
  font-size: 21px;
  color: rgb(255, 255, 255);
  background-color: #bdadc4;
  margin-bottom:  5%;
  margin-top: -5%;
  border-radius: 10px;
}
.textpomoc1{
  font-size: 21px;
  color: rgb(255, 255, 255);
  background-color: #bdadc4;
  margin-bottom: 5%;
  margin-top: -15%;
  border-radius: 10px;
}