.money{
	margin: 10%;
	width: 40%;
	border-radius: 10px;
  border: solid 5px #cccad2c6;
}

.butpomoc{
  color: #fff;
  background-color: #7700bb;
  width: 20%;
  padding: 10px;
  font-size: 20px;
  min-width: 80px;
  border: none; 
  outline: none;
  border-radius:10px ;

}
.minmoney{
	background-color: #b4b1bbc6;
	border-radius: 0px 0px 5px 5px;
	width: 100%;
}
.pomimg{
	width: 15%;
  min-width: 50px;
  margin-left:70%;;
}
input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 2px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
 
  height: 13px;
  
  box-shadow: 1px 1px 3px #000000;
  background: #BDADC4;
  border-radius: 17px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #000031;
  border: 2px solid #EAD6F2;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #615399;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
 
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000;
  background: #BDADC4;
  border-radius: 17px;
  border: 0px solid #BDADC4;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #000031;
  border: 2px solid #EAD6F2;
  height: 37px;
  width: 37px;
  border-radius: 50px;
  background: #615399;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #BDADC4;
  border: 0px solid #BDADC4;
  border-radius: 34px;
  box-shadow: 2px 2px 3px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #BDADC4;
  border: 0px solid #BDADC4;
  border-radius: 34px;
  box-shadow: 2px 2px 3px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px #000031;
  border: 2px solid #EAD6F2;
  height: 37px;
  width: 37px;
  border-radius: 50px;
  background: #615399;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #BDADC4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #BDADC4;
}


input[type="text"]{

	width: 80px;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #220745;
	font-size: 30px;
}

input[type="month"]{

	max-width: 200px;
  width: 40%;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #220745;
	font-size: 20px;


}
#i1{
  width: 70px;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #22074500;
  font-size: 30px;
}
.inmon{
  margin-left: 40%;
  width: 60%;
  max-width: 100px;
	border-radius: 8px;
	background-color: #bdadc4;
	color: white;
	padding: 5px;
	border: 1px #EAD6F2;
  box-shadow: 1px 1px 3px #220745;
	font-size: 30px;
}

.numcard{
  margin-left: 10%;
  margin-right: 10%;
}

.ncard{
  margin-right:10px ;
}
.m{
  font-size: 20px;
  margin-left:0%;
}
.m1{
  font-size: 20px;
  margin-left:40%;
}