*{
	cursor:url('img/img.png'),pointer;
}

body{
	margin: 0;
  padding: 0;

}

h2, p {
	display: flex;
	margin: 0 auto;
	padding-top:30px;
	padding-bottom:20px;
	max-width: 50%;
	font-family: "Atlas Grotesk Web",sans-serif;
	
  justify-content: center;
}
h1,h2,p{
	cursor:  text;

}
p {
	font-size: 26px;
	font-weight:200;
}
h2 {
	font-size: 45px;
	font-weight:1000;
}
.hlava {

	min-width: 1000px;
	margin: 0 auto;
	display: block;
	padding-bottom: 40px;
	padding-top: 100px;

}

ul {
	transform: translateX();
	display: inline-block;
}

footer, header{
	background-color: #615399;

	margin: auto;
	min-width: 1800px;

}
header{
	margin-bottom: 80px;

}
footer{

	margin-top: 80px;


}
.navbut {
  text-align: center;
	color: white;
	padding-top: 10px;
	display: flex;
  align-items: center;
  justify-content: center;
	background-color: #332668;
	margin-right: 15px;
	width:10%;
	max-width: 160px;
	min-width: 80px;
	text-decoration: none;
	font-size: 23px;
	display: inline-block;
	margin-top: 2px;
	float: right;
	height: 50px;
	border-radius: 4px;


}

.laska{
	display: flex;
  justify-content: center;
	width: 40%;
  margin: 0 auto;

}
.projektimg{
	width: 350px;
	display: flex;
  justify-content: center;
	margin: 0 auto;
	
}

.zobbut:nth-of-type(even) {
	background-color: #bdadc4;

}
.navbut:nth-of-type(even) {
	background-color: #332668;
}

.navbut:focus {
  outline: none;
  color: #fff;
	background-color: #bdadc4;
}
.zobbut:focus {
  outline: none;
  color: #fff;
	background-color: #332668;
}
.zobimg{
	display: flex;
  justify-content: center;
  max-width: 40%;
  margin: 0 auto;

}
#zobimg{
	display: flex;
  justify-content: center;
  max-width: 15%;
  margin: 0 auto;
}
#pet2{
	background-color: #f4edfc;
}


li {
	list-style-type: none; 
 }


.navimg {
	margin: 5px 24px;
	min-height: 5%;
	max-width: 23%;
	width: 210px;
	border-radius: 5px;
}

.foot1 {
	color: white;
	padding-top: 20px;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	float: right;
	font-size: 26px;

}

.titleimg {
	width: 30%;
}

::-webkit-scrollbar {
	background-color:#615399;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
  background: linear-gradient(180deg, #8fb3f5, #9279f7);
}
  .Top {
	position: fixed;
	right: 1%;
	bottom: 20px;
   }

.cont{
	list-style-type: none;
	overflow: hidden; 
	width: 250px;
	float: left;
	margin-left: 100px; 
}

.conta{
	float: right;
	margin-right: 5px; 
	margin-bottom: 12px; 
	margin-top: 12px;
	width: 70px; 
	height: 70px;
	overflow: hidden;

}

.cont img {
	width: 100%;
}
#conta{
	width: 45px;

}
#conta2{
	width: 80px;
	margin-top: 0px ;
	margin-right: 0px;
}
footer p {
	
	display: block;
	padding: 15px;
	padding-left: 10px;
	margin: auto;

	color: white;
}

 
.fade img {
	width: 100%;
}



#footer{
	position: absolute;
	margin-bottom: 0px;
}




.projekt{
	font-size: 37px;
}





.pomimg{
	width: 300px;
}




#footimg{
	width: 130px;
	margin-left: 40%;
	margin-top: 20px;
}





tr{
	width: 100px;
}


.pr{
	background-color: #f4edfc;
	width: 60%;

  justify-content: center;

  margin: 0 auto;

}

.pr1{
	background-color: rgb(238, 238, 238);
	width: 60%;

  justify-content: center;

  margin: 0 auto;

}













