.Fotopet1{
	float: left;
	margin-top: 50px;
	margin-left: 50px;

}
.Ppet1{
	display: block;
	float: right;
	margin-top:-35%;
	height: 30%;
	margin-left: 30%;
	

}
.Fotopet2{
	float: right;
	margin-top: -35%;
	margin-right: -200px;

}

.Ppet2{
	display: block;
	float: left;
	height: 70%;
	margin-right: 50%;
	color: #ffffff;

}

#pet1{
	background-color: #ffffff;
	min-height: 400px;
	

}

#pet2{
	background-color: #bdadc4;
	min-height: 400px;
	padding-top: 50px;
	margin-bottom: -80px;

}
.Pet{
	margin: auto;
	width: 50%;

}

.group:before, .group:after {
	content:"";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	background: #eaeaed;
	clear: both;
	*zoom: 1;
}
.Fotopet1 {
	float: left;
	width: 70%;
}
.Ppet1 {
	float: right;
	width: 60%;
}


.Fotopet{
	width: 40%;
}



.petn{
	margin: auto;
	width: 100%;
}

.petnn{
	margin: auto;
}